<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/custom/style.css') }}">
    
	
	<!-- login google -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <meta name="google-signin-client_id" content="1071071328035-8m2g4i3od3mduj7nbh8t299bgpjp25gd.apps.googleusercontent.com">
   <script src="https://apis.google.com/js/platform.js" async defer></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- login google -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <meta name="google-signin-client_id" content="953818940393-rj5g3d585oi0av1on726v4pm5j5v356q.apps.googleusercontent.com">
   <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            //document.getElementById('imagem').value=profile.getImageUrl();
            document.getElementById('deslogar').submit();
            console.log('User signed out.');
        });
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }

    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</head>

<body id="page-top" class="white" onload="grafico('{{homem}}', '{{mulher}}');
                                          grafico_mortalidade_sintomas('{{febre}}', '{{tosse}}','{{dor_garganta}}', '{{dispineia}}','{{outros}}');
                                          mortes_por_idade('{{idade0A25}}','{{idade26A30}}','{{idade31A40}}','{{idade41A60}}', '{{maisDe60}}'),
                                          grafico_mortalidade_mes('{{janeiro}}','{{fevereiro}}','{{marco}}','{{abril}}','{{maio}}', '{{junho}}',
                                         '{{julho}}','{{agosto}}','{{setembro}}','{{outubo}}', '{{novembro}}', '{{dezembro}}')" >
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><img src="{{ url_for('static', filename='img/avatars/copia.jpg')}}" height="60" width="150">
                      
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
								<span class=" d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span>
                                <img class="border rounded-circle " src="{{img}}"></a>
                                <form action="/deslogado" id="logado" method="POST" class="">
                                            <input type="hidden" id="deslogado" name="deslogado">
                                            
                                            <button action='submit' class="btn btn-primary" onclick="signOut();" id="deslogar">sair</button>
                                   
                                </form>
                             </div>
                    </li>
                    </ul></div>
            </nav>
   
            <div class="container-fluid">
					<div style="width: 100%;height: 10em;background-color: #36b9cc;">
					<h2 class="text-white text-center font-weight-bold m-0">Covid no Brasil</h2>
					<h6 class="text-white text-center font-weight-bold m-0">Número de infectados</h6>
					<h6 class="text-white text-center font-weight-bold m-0">{{infectados}}</h6>
					<h6 class="text-white text-center font-weight-bold m-0">Número de óbitos</h6>
					<h6 class="text-white text-center font-weight-bold m-0">2.000</h6>
				<input type="file" class="custom-file-input"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
				<div class="row">

                <!---Inicio Botao de pesquisa por estado-->
				<div class="col-lg-6 col-xl-6 element-center">
                    <form class="form-inline" action="/busca-estado" method="POST">
                        <div class="form-group mx-sm-3 mb-2">
                            
                                <div class="form-group">
                                    <label for="" class="mr-5">digite a sigla do estado ex: RN</label ><input id='estado' name='estado'></input>
                                </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                    </form>
                </div>
                 <!---Fim Botao de pesquisa por estado-->

                 
				</div>
                
				<div style="width: 100%;height: 10em;background-color: #36b9cc;">
					<h2 class="text-white text-center font-weight-bold m-0">Covid na cidade </h2>
					<h6 class="text-white text-center font-weight-bold m-0">Número de infectados</h6>
					<h6 class="text-white text-center font-weight-bold m-0">2.000</h6>
					<h6 class="text-white text-center font-weight-bold m-0">Número de óbitos</h6>
					<h6 class="text-white text-center font-weight-bold m-0">2.000</h6>
				</div><input type="file" class="custom-file-input">
                <div class="row">
				 <div class="col-lg-12 col-xl-12">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Taxa de mortalidade por sexo e taxa de mortalidade por sintomas</h6>
                 
                            </div>
                            <div class="card-body ">
                                <div class="container ">
                                    <div class="col-md-4 d-inline-block">
                                        <div class="card">
                                            <div class="card-body">
                                                <canvas id="chLine" ></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-inline-block ">
                                        <div class="card">
                                            <div class="card-body">
                                                <canvas id="sintomas" ></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="text-left small mt-4"><span class="mr-2"><i class="fas fa-circle mulher"></i>&nbsp;Feminino</span><span class="mr-2">
									<i class="fas fa-circle homem"></i>
									&nbsp;Masculino</span>
								</div>
                        </div>
                    </div>
                </div>
      
            </div>
			
			<div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Taxa de mortalidade por mês</h6>
       
                            </div>
                            <div class="card-body">
                                <div class="col-md-8 d-inline-block ">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="mes" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
			<div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Taxa de mortalidade por idade</h6>
                            </div>
                                <div class="card-body">
                                    <div class="container">
                                        <div class="col-md-8 d-inline-block ">
                                            <div class="card">
                                                <div class="card-body">
                                                    <canvas id="idade" ></canvas>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
			<div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Taxa de mortalidade por sintomas</h6>
                
                            </div>
                            <div class="card-body">
                        
                            </div>
                        </div>
                    </div>
            </div>
			<div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Taxa de mortalidade por raça</h6>
                               
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas data-bs-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Branco&quot;,&quot;Preto&quot;,&quot;Pardo&quot;,&quot;Amarelo&quot;,&quot;Indígina&quot;],&quot;datasets&quot;:
								[{&quot;label&quot;:&quot;Earnings&quot;,&quot;fill&quot;:true,&quot;data&quot;:
								[&quot;0&quot;,&quot;10000&quot;,&quot;5000&quot;,&quot;15000&quot;,&quot;10000&quot;,&quot;20000&quot;,&quot;15000&quot;,&quot;25000&quot;],
								&quot;backgroundColor&quot;:&quot;rgba(78, 115, 223, 0.05)&quot;,&quot;borderColor&quot;:
								&quot;rgba(78, 115, 223, 1)&quot;}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;gridLines&quot;:
								{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:
								[&quot;2&quot;],&quot;drawOnChartArea&quot;:false},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;padding&quot;:20}}],&quot;yAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:
								&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;]},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;padding&quot;:20}}]}}}"></canvas></div>
                            </div>
                        </div>
                    </div>
            </div>

   

        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <canvas id="chLine" ></canvas>
                </div>
            </div>
        </div>
     </div>     
    </div>
    <div class="container" >
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <canvas id="sintomas" ></canvas>
                </div>
            </div>
        </div>
     </div>     
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © SisCovid 2020</span></div>
        </div>
    </footer>
   
    <script type="text/javascript"  src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bs-charts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/geragraficos.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <!---<script type="text/javascript" src="{{ url_for('static', filename='js/teste.js') }}"></script>-->
</body>

</html>